<form class="editable flexcol" autocomplete="off">
  <section style="flex1">
    <div class="form-group">
      <label for="rollCount">{{localize "TABLESMITH.evaluate.rollcount"}}</label>
      <input name="callValues.rollCount" id="rollCount" type="number" min="1" max="100" value="{{callValues.rollCount}}" />
    </div>
    <div class="form-group">
      <label for="foldername">{{localize "TABLESMITH.evaluate.folder"}}</label>
      <select name="folder.name" id="foldername">
        {{selectOptions folders selected=folder.name nameAttr="name" labelAttr="name"}}
      </select>
    </div>
    <div class="form-group">
      <label for="callValues.tablename">{{localize "TABLESMITH.evaluate.table"}}</label>
      <select name="callValues.tablename" id="callValues.tablename">
        {{selectOptions tables selected=callValues.table.name nameAttr="name" labelAttr="name"}}
      </select>
    </div>
    {{> modules/tablesmith-like/templates/paramspartial.hbs}}
    <div style="flex1" class="flexrow">
      <button type="button" data-action="evaluate"><i class="fas fa-dice-d20"></i> {{localize "TABLESMITH.evaluate.evaluate-table"}}</button>
      <button style="flex3" type="button" data-action="reload-tables"><i class="fas fa-undo"></i> {{localize "TABLESMITH.reload.tables"}}</button>
    </div>
  </section>

  <section style="flex0">
    {{#if results}}
      {{#if (ts-callError results)}}
      <h2>{{localize "TABLESMITH.evaluate.error"}}</h2>
      {{{ts-callError results}}}
      {{else}}
        <h2>{{localize "TABLESMITH.evaluate.result"}}</h2>
        <div style="flex1" class="flexrow">
          <button type="button" data-action="start" {{#if paginator.disablePrev}}disabled{{/if}}><i class="fas fa-angle-double-left"></i>{{ paginator.numStart }}</button>
          <button type="button" data-action="prev" {{#if paginator.disablePrev}}disabled{{/if}}><i class="fas fa-angle-left"></i>{{ paginator.numPrev }}</button>
          <button type="button" data-action="trash" {{#if paginator.disableTrash}}disabled{{/if}}><i class="fas fa-trash"></i>{{ paginator.numTrash }}</button>
          <button type="button" data-action="next" {{#if paginator.disableNext}}disabled{{/if}}><i class="fas fa-angle-right"></i>{{ paginator.numNext }}</button>
          <button type="button" data-action="end" {{#if paginator.disableNext}}disabled{{/if}}><i class="fas fa-angle-double-right"></i>{{ paginator.numEnd }}</button>
        </div>
        {{> modules/tablesmith-like/templates/resulttopartial.hbs}}
        {{#each results.results}}
          <h3>#{{ts-add @index 1}} of {{../callValues.rollCount}}</h3>
          {{> modules/tablesmith-like/templates/resultpartial.hbs result=this.result resultIndex=@index }}
        {{/each}}
      {{/if}}
    {{/if}}
  </section>
</form>