<form>
  <label for="tablename">{{localize "TABLESMITH.table"}}:</label>
  <select name="tablename" id="tablename">
      {{selectOptions tables selected=selected.name nameAttr="name" labelAttr="name"}}
  </select>
  {{#each parameters}}
    {{#if this.isPrompt}}
      {{this.prompt}} <input type="text" data-dtype="String" name="{{this.variable}}" id="{{this.variable}}" value="{{this.defaultValue}}" />
    {{/if}}
    {{#if this.isList}}
      {{this.prompt}}
      <select name="{{this.variable}}" id="{{this.variable}}">
        {{selectOptions this.options selected=this.defaultValue nameAttr="index" labelAttr="value"}}
      </select>
    {{/if}}
    {{#if this.isMultiList}}
      {{this.prompt}}
      <select name="{{this.variable}}" id="{{this.variable}}" multiple>
        {{selectOptions this.options selected=this.selectedMultiList nameAttr="index" labelAttr="value"}}
      </select>
    {{/if}}
  {{/each}}
  <button type="button" data-action="evaluate"><i class="fas fa-plus"></i> {{localize "TABLESMITH.evaluate-table"}}</button>
  <p>{{{result}}}</p>
</form>