<form class="editable flexcol" autocomplete="off">
  <section style="flex1">
    <div class="form-group">
      <label for="chatResults">{{localize "TABLESMITH.chatresults"}}</label>
      <input type="checkbox" name="chatResults" id="chatResults" {{checked chatResults}} />
    </div>
    <div class="form-group">
      <label for="tablename">{{localize "TABLESMITH.table"}}</label>
      <select name="tablename" id="tablename">
        {{selectOptions tables selected=selected.name nameAttr="name" labelAttr="name"}}
      </select>
    </div>
    {{> modules/tablesmith-like/templates/paramspartial.hbs}}
    <div class="flexrow">
      <button type="button" data-action="evaluate"><i class="fas fa-dice-d20"></i> {{localize "TABLESMITH.evaluate-table"}}</button>
      <button type="button" data-action="reload-tables"><i class="fas fa-undo"></i> {{localize "TABLESMITH.reload-tables"}}</button>
    </div>
  </section>
  <section style="flex0">
    {{#if result}}
      <h1>{{localize "TABLESMITH.result"}}</h1>
      <div>{{{result}}}</div>
    {{/if}}
  </section>
</form>