<form class="editable flexcol" autocomplete="off">
  <section style="flex1">
    <div class="form-group">
      <label for="tablename">{{localize "TABLESMITH.table"}}:</label>
      <select name="tablename" id="tablename">
        {{selectOptions tables selected=selected.name nameAttr="name" labelAttr="name"}}
      </select>
    </div>
    {{> modules/tablesmith-like/templates/paramspartial.hbs}}
    <button type="button" data-action="evaluate"><i class="flex0 fas fa-dice-d20"></i> {{localize "TABLESMITH.evaluate-table"}}</button>
  </section>
  <section style="flex0">
    {{#if result}}
      <h1>{{localize "TABLESMITH.result"}}</h1>
      <div>{{{result}}}</div>
    {{/if}}
  </section>
</form>